.portfolio-container {
  margin: 12rem 0 0 0;
  padding: 4rem 110px 4rem 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-header {
  display: flex;
  flex-direction: column;
}

.portfolio-text-translition {
  margin: 1rem 0;
  display: flex;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.portfolio-header-p {
  margin-top: 0.7rem;
  font-weight: 500;
  letter-spacing: .5px;
  font-size: 16px;
  max-width: 70%;
  line-height: 26px;
  font-family: var(--font-family);

}
.portfolio-header-img {
  position: relative;
  left: -15%;
  top: -50px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.portfolio-header-img img {
  width: 500px;
  height: 370px;
}
.portfolio-social {
  margin: 25px 0 10px;
  display: flex;
  padding: 0;
}
.portfolio-social li a {
  border: 1px solid #EA7186;
  border-radius: 50%;
  color: #EA7186;
  width: 40px;
  height: 40px;
  font-size: 14px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
}
.portfolio-social li a:hover {
  color: white;
  background-color: #EA7186;
}
.cotainer3d{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1120px) {
  /* .portfolio-container {
    padding: 4rem 0 4rem 115px;
  } */
  .portfolio-container {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portfolio-header-p {
    max-width: 90%;
  }
  .portfolio-text-translition {
    max-width: 100%;
  }
  .portfolio-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
  .portfolio-header{
    padding: 0 60px;
  }

}

/* @media screen and (max-width: 990px) {
  .portfolio-container {
    padding: 20px 60px;
    flex-direction: column;
  }
  .portfolio-header-p {
    max-width: 100%;
  }
  .portfolio-text-translition {
    max-width: 100%;
  }
  .portfolio-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
} */
