.portfolio-navbar {
  font-family: var(--font-family);
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 20px 160px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  top: 0;
}
.portfolio-navbar-links{
  display: flex;
  align-items: center;
}
.portfolio-navbar.active {
  background-color: #EBE8E7;
  top: 0;
  position: fixed;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.08);
}

.portfolio-navbar .logo a {
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  color: #EA7186;
  padding: 15px;
  line-height: 50px;
  font-family: var(--font-family-logo);
  cursor: pointer;
}
.portfolio-navbar .logo a:hover {
  color: #EA7186;
  cursor: pointer;
}
.portfolio-navbar .portfolio-navbar-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 20px;
  /* color: white; */
}
.portfolio-navbar .portfolio-navbar-links a:hover {
  cursor: pointer !important;
  color: #9399c0 !important;
}
.navbar-toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
 
}
.navbar-toggle-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  flex-direction: column;
  text-align: flex-start;
  color: white;
  background: black;
  margin-top: 1.5rem;
  top: 40px;
  right: 0px;
  left: auto;
  overflow: hidden;
  float: right;
  box-shadow: -1px 1px 1px rgb(20 97 255 / 10%);
}
.navbar-toggle-container a {
  margin-bottom: 5px;
}
#checkbox{
display: none;
}
.tegler{
  width: 60px;
  height: 31px;
  border: 2px solid #7A77B9;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.ball , .moon , .sun{
  position: absolute;
  transform: translateX(-50%);
}
.ball{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #7A77B9;
  border-radius: 50%;
  left: 11px;
  z-index: 10;
  bottom: 1px;
  transition:  0.5s ease-in-out;
  
}
.moon{
  right: 0px;
}
.sun{
  left: 12px;
}
#checkbox:checked +.ball{
  transform: translate(21px,0%);
}



.themetogglecontainer{
  flex: 0.2;
  margin-right: 2rem;
}

@media screen and (max-width: 1120px) {
  .portfolio-navbar {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 990px) {
  .portfolio-navbar {
    padding: 20px 45px;
  }
}

@media screen and (max-width: 775px) {
  .portfolio-navbar-links a {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .portfolio-navbar {
    padding: 20px;
  }


}
